sudo: required

services:
  - docker

# It is not really needed, other than for showing correct language tag in Travis CI build log.
language: cpp

before_install:
  - docker run -d --name ubuntu-test -v $(pwd):/travis ubuntu:latest tail -f /dev/null
  - docker ps

script:
  - docker exec -t ubuntu-test bash -c "cd /travis ;
    apt update ;
    apt -y -qq install sudo gnome-software-dev git wget git xxd cmake g++ libcurl4-openssl-dev libx11-dev libz-dev libssl-dev libinotifytools0-dev libarchive-dev libfuse-dev liblzma-dev ;
    mkdir build ; cd build ; cmake .. ; make -j$(nproc) ; cd .. ;
    ls -lh build/"

after_success:
  - ls -lh build/
  
notifications:
    email: false
